.footer {
    height: 80vh;
    background-image: url(../../assets/images/Pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__container {
    height: 74%;
    flex-direction: column;
}

.footer__list {
    width: 100%;
    height: 54%;
}

.footer__licence {
    border-top: 1px solid var(--shadow-color);
    width: 100%;
    height: 24%;
    align-items: end;
}

.list__logo {
    width: 20%;
}

.list__logo svg {
    width: 17%;
    height: 22%;
    margin-bottom: 6%;
}

.list {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.blocks__items {
    width: 200%;
    height: 100%;
}

.list__blocks {
    margin-right: 20%;
}

.items__text:not(:first-child) {
    line-height: 330%;
}

.items__text:first-child {
    color: var(--navigation-color);
    font-size: 1.04vw;
    text-transform: uppercase;
}

.items__text a {
    color: #546285;
}

.licence__icons {
    width: 16%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
}

.icons__container {
    border: 1px solid var(--shadow-color);
    border-radius: 50%;
    height: 100%;
    width: 22%;
}
.icons__container svg {
    width: 50%;
    height: 50%;
}

.licence__text {
    color: var(--licence_text-color);
}

@media screen and (max-width: 768px) {
    .footer {
        height: 34vh;
    }

    .list__logo {
        width: 40%;
    }

    .list__logo svg {
        width: 20%;
        height: 30%;
    }

    .list {
        width: 50%;
    }

    .items__text, .licence__text, .logo__text {
      font-size: 1.5vw;
    }

    .items__text:first-child {
        font-size: 1.6vw;
    }

    .licence__icons {
        width: 26%;
    }
}