.home-container {
    
    display: flex;
    width: 80%;
    height: 600px;
    flex-direction: row;
    align-items: center;
    margin: 150px;
    margin-bottom: 0;
    font-size: 40px;
    object-fit: cover;
  }
  
  .container { 
    position: relative;
  z-index: 1;
  padding: 6% 0;
    background-color: rgba(255, 255, 255, -1);; /* Прозрачность контейнера (50%) */
    margin-top: -400px;
    width: 600px; 
  
  }
  
  .container-sec {
    
  padding-bottom: 350px;
  width: 500px;
  height: 500px;
  }
  
  .deliv {
  background-color: #F5FBFC;
  color: var(--primary-color);
  }
  
  .container h2 {
    
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 500px;
    padding-bottom: -480px;
    height: 600px;
    margin-bottom: -270px;
    color: #333; 
    font-family: 'Open Sans';
  }
  
  .container p {
    display:flex;
    height: 30px;
    width: 550px;
    margin-top: -240px; 
    margin-bottom: 40px;
    color: #546285;  
    line-height: 24.12px;
    font-size: 18px;
    letter-spacing: 0.36px;
  }
  
  
  .container button {
    background-color: var(--primary-color); /* Синий цвет фона кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .container button:hover {
    background-color: var(--primary-color); /* Темно-синий цвет фона кнопки при наведении */
  }
  
  .container div {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 10px;
  }
  
  .container span {
    font-weight: bold;
    color: #00B67A; /* цвет звезд */
    font-size: 10px;
  }
  
  .rating-container {
    color: black;
    font-size: 16px;
    line-height: 20px;
  
  }
    .star{
    display: inline;
    width: 80px;
  }