.CardMenu {
  position: relative;
  z-index: 1;
  padding: 6% 0;
}

.CardHeader__heading {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
  
.CardHeader__heading p {
  margin: 6% auto 10%;
  line-height: 27px;
  letter-spacing: 0.4px;
}

.heading__phone {
  position: relative;
  color: var(--primary-color);
  display: inline-block;
  cursor: help;
}

.heading__phone .tooltiptext {
  visibility: hidden;
  width: 8vw;
  background-color: var(--phone_number-color);
  color: var(--card-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -88%;
  opacity: 0;
  transition: opacity 0.3s;
}

.heading__phone:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  
.CardHeader__block-buttons {
  width: 100%;
}

.CardHeader__block-buttons button {
  width: 30%;
  height: 6.8vh;
} 
  
.CardMenu__cards {
  width: 80vw;
  height: 62%;
  margin-top: 6%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr); 
  row-gap: 22px;
}

.CardMenu__see-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CardMenu__see-more button {
  padding: 1.6%;
  width: 12%;
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
  
@media screen and (max-width: 768px) {
  .CardMenu {
    padding: 20% 0;
  }

  .CardHeader__block-buttons button {
    font-size: 2.6vw;
  } 

  .CardMenu__see-more button {
    font-size: 2vw;
    width: 16%;
  }

  .CardHeader__heading {
    width: 70vw;
  }

  .CardMenu__cards {
    grid-template-columns: repeat(1, 1fr);
    height: 60%;
  }
  
}
  
  