.header {
    height: 13.8vh;
    background-color: var(--card-color);
}

.logo {
    height: 100%;
}

.header__container {
    height: 60%;
}
 
.navigation__list {
    font-weight: 400;
    line-height: 1.4vw;
    color: var(--navigation-color);
    display: flex;
    flex-direction: row;
}

.list__item:not(:last-child) {
    margin-right: 2.4vw;
}

.list__item:nth-child(2) {
    color: var(--primary-color);
}

.header__navigation {
    height: 100%;
    width: 39%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        height: 8vh;
    }

    .header__container {
        height: 60%;
    }

    .header__navigation {
        width: 66%;
    }

    .navigation__busket {
        width: 18%;
    }
}