.Cart {
  position: relative;
  height: 100%;
  width: 12%;
  background-color: var(--busket-color);
  border-radius: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Cart::after {
  content: attr(data-items);
  position: absolute;
  top: -14%;
  right: -14%;
  background-color: var(--card-color);
  color: var(--primary-color);
  border-radius: 50%;
  width: 40%;
  height: 40%;
  font-size: 80%;
  font-weight: 400;
  line-height: 90%;
  box-shadow: 7px 7px 25px 0px var(--shadow-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Cart {
    width: 8%;
    height: 70%;
    padding: 10px;
  }

  .Cart::after {
    width: 20px;
    height: 40%;
    font-size: 10px;
  }
}
