.card__block {
    width: 96.2%;
    height: 28vh;
    border-radius: 6px;
    border: 1px solid var(--card_border-color);
    background: var(--card-color);
}

.card__info {
    width: 86%;
    height: 76%;
    justify-content: space-between;
}

.info__image {
    width: 26%;
    height: 86%;
}

.info__description {
    height: 100%;
    width: 68%;
    flex-direction: column;
    align-items: start;
}

.card__heading {
    line-height: 130%;
    color: var(--card_title-color);
    font-size: 118%;
}

.items__title {
    width: 100%;
}

.heading__price {
    color: var(--primary-color);
}

.info__buttons {
    width: 60%;
    height: 24%;
}

.info__buttons button {
    width: 66%;
    height: 5.4vh;
}

.info__buttons input {
    width: 24%;
    height: 100%;
    border: 1px solid var(--count-background-color);
    border-radius: 6px;
    color: var(--count_text-color);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .card__block {
        height: 12vh;
    }

    .info__image {
        height: 100%;
    }

    .heading__text, .heading__price {
        font-size: 1.8vw;
    }

    .card__heading {
        font-size: 2vw;
    }

    .info__buttons {
        width: 50%;
    }

    .info__buttons button {
        font-size: 1.6vw;
        height: 2.4vh;
    }
}